body {
	background-color: white;	
}

header {
  background-color: black;
  color: white;
}

#navbar {
  padding-top: 20px; 
  margin-bottom: 10px; 
  background-color: #006747;
}

#footer {
  padding: 20px 20px 20px 20px; 
  background-color: #CFC493;
  color: black;
}

#gcc, header h1{
margin: 0 0 0 0; 
color: black; 
background-color: #CFC493; 
padding: 0 0 0 0;
}

/*:empty {
 background-color:rgba(255, 99, 71, 0.5); 
} */ 

.btn {
  background-color: #76c6a0;
  color: #ffffff;
}

figure {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	width: 100%;
	height: auto;
}


img {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
        width: 60%;
	height: auto;
}


table {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
        width: 100%;
	height: auto;
}

output.link {
  background-color: 	#76c6a0;
  color: #ffffff;
  font-size: 1.5vw;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
}	

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 ) 
                url('http://gscommunitycodes.usf.edu/gs/public/images/spinner.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .spinner {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .spinner {
    display: block;
}

.form {
  background-color: #f5f5f0;
  /*background-color: #f9f9fb; */
  border-radius: 3px;
  border: 2px solid ivory;
  border-top: 18px solid #992600;
  /* border-top: 18px solid #ffd633; */
 /* border-top: 18px solid #efbd3d;*/
}

a:link {
  color: #006747;
}
a:visited {
  color: #006747;
  text-decoration: underline;
}
a:hover {
color: #006747;
text-decoration: underline;
}
a:active {
  color: #006747;
}
